* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
}

cite {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

ul,
li {
  list-style-type: none;
}

address {
  font-style: normal;
}
